img {
  border-radius: 3px;
  margin-bottom: 20px; }

#logo {
  width: 170px;
  margin-left: 15px;
  margin-top: 10px; }

#mainContainer {
  margin: 0 auto;
  min-width: 320px; }

#smallContainer {
  margin-left: 20px;
  margin-right: 20px; }

.line {
  background-color: #329efa;
  height: 1px;
  margin-bottom: 20px; }

#map {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column; }

#contactForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px; }

#contactForm input {
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #329efa;
  text-align: center;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: #fff;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px; }

#contactForm input:last-child {
  font-weight: bold; }

.smallInput {
  width: 45%; }

.largeInput {
  width: 100%; }

/* TABLET */
@media only screen and (min-width: 600px) {
  .contactCon {
    display: flex;
    flex-direction: row; } }
/* DESKTOP */
#mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: #F2F2F2; }

#mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#mainHeader button {
  background: url(../images/menu.svg) center no-repeat;
  width: 30px;
  height: 30px;
  border: 0px;
  margin-right: 30px;
  transition: all .3s linear;
  outline: none; }

#mainHeader button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  outline: none; }

#mainNav a {
  /* display: inline-block; */
  text-decoration: none; }

#mainNav a:after {
  color: #d8ae58;
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid;
  margin: 0 auto;
  transition: all 0.3s linear 0s; }

#mainNav a:hover:after {
  width: 35%; }

#burgerCon {
  outline: none; }

#burgerCon.slideToggle {
  display: block;
  margin-bottom: 10px;
  outline: none; }

#mainNav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #333; }

#mainFooter {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2; }

#footerNav {
  display: none; }

#mainFooter a {
  color: #666;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  padding-top: 20px; }

#socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px; }

#socialIcons img {
  width: 40px;
  height: 40px; }

#backTop {
  height: 30px;
  width: 50px;
  display: flex; }

#socialIcons img:hover {
  cursor: pointer;
  opacity: 0.8; }

#mainFooter p {
  color: #666;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 10px; }

/* FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;
*/
body {
  background-color: #fff;
  text-align: center;
  font-family: 'Merriweather', serif; }

a {
  text-decoration: none;
  border: none;
  color: #329efa; }

h1 {
  font-family: 'Roboto', sans-serif;
  color: #fa8c32;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px; }

h2 {
  font-family: 'Roboto', sans-serif;
  color: #329efa;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #333;
  text-align: left;
  margin-bottom: 10px; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #666; }

p {
  font-family: 'Merriweather', serif;
  text-align: left;
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 2em; }

ul {
  text-decoration: none;
  border: none;
  list-style: none; }

/* General rules - scales images, videos to size of container */
.hidden {
  display: none; }

html {
  box-sizing: border-box; }

a:visited {
  text-decoration: none;
  border: none;
  color: #fff; }

a:link {
  text-decoration: none;
  border: none;
  color: #fff; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/*# sourceMappingURL=main.css.map */
