/* DESKTOP */
@media only screen and (min-width: 960px) {

// GENERAL CHANGES DUE TO SIZE 
   #button{
       display: none;
   }

   #burgerMenu{
       display: flex;
       flex-direction: row;
   }

   #burgerCon{
       display: flex;
   }

   #socialIcons{
       width: 50%;
   }

   #imageText{
        top: 30%;
        font-size: 54px;
   }

// HOME PAGE STARTS HERE 
    .contentText{
        float: left;
        width: 50%;
        padding: 20px;
    }

    #contentBox:after{
        content: "";
        display: table;
        clear: both;
    }

    .line{
        display: none;
    }
// ABOUT PAGE STARTS HERE 

    

    #teamAbout div{
        display: none;
    }

   

    #teamAbout img{
         transition: all .2s ease-in-out;
         margin: 5px;
         margin-bottom: 30px;
    }

    #teamAbout img:hover{
         transform: scale(1.1);
    }


// CONTACT PAGE STARTS HERE 
#contactCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #address{
        width: 50%;
    }

    #contact{
        width: 50%;
    }
}



// PORTFOLIO PAGE STARTS HERE 


// FEATURE PAGE STARTS HERE 

}
