/* DESKTOP */
@media only screen and (min-width: 960px) {

// GENERAL CHANGES DUE TO SIZE
    #logo{
        width: 300px;
        margin-left: 5%;
    }
   #button{
       display: none;
   }

   #burgerMenu{
       display: flex;
       flex-direction: row;
   }

   #burgerCon{
       display: flex;
   }

   #socialIcons{
       display: flex;
       flex-direction: row;
       justify-content: center;
   }

   #socialIcons img{
    margin-right: 20px;
    margin-left: 20px;
   }

   #imageText{
        top: 30%;
        font-size: 60px;
   }

// HOME PAGE STARTS HERE 

//    float wont let the items line up properly in this setup, needs to be fixed

    // .contentText{
    //     float: left;
    //     width: 50%;
    // }

    // #contentBox:after{
    //     content: "";
    //     display: table;
    //     clear: both;
    // }

    // .line{
    //     display: none;
    // }

    // .contentText{
    //     width: 75%;
    //     justify-content: space-around
    // }

    // .line{
    //     width: 75%;
    //     justify-content: center;
    // }
    a{
        font-size: 18px;
    }

    #mainNav ul li a{
        margin-top: 30px;
    }

    #mainNav{
        margin-right: 5%;
    }
// ABOUT PAGE STARTS HERE 

    

    #teamAbout div{
        display: none;
    }

   

    #teamAbout img{
         transition: all .2s ease-in-out;
         margin: 5px;
         margin-bottom: 30px;
    }

    #teamAbout img:hover{
         transform: scale(1.1);
    }


// CONTACT PAGE STARTS HERE 
#contactCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    #address{
        width: 45%;
    }

    #contact{
        width: 45%;
    }
}

#map{
    width: 80%;
    height: 300px;
}

#contactForm input{
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: #329efa;
	text-align: center;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	color: #fff;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}


// PORTFOLIO PAGE STARTS HERE 
.project{
	width: 33%;
}

.projectLogo:hover{
    width: 160px;
    cursor: pointer;
}

.project h2 h3{
	text-align: center;
}
// FEATURE PAGE STARTS HERE 

}
