@charset "utf-8";

/* FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;
*/

$primary-color: #333;


body{
	background-color: #fff;
	text-align: center;
	font-family: 'Merriweather', serif;
}

a{
	text-decoration: none;
	border: none;
	color: #329efa;
}

h1{
	font-family: 'Roboto', sans-serif;
	color: #fa8c32;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px
}

h2{
	font-family: 'Roboto', sans-serif;
	color: #329efa;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px
}

h3{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: #333;
	text-align: left;
	margin-bottom: 10px;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #666;
}

p{
	font-family: 'Merriweather', serif;
	text-align: left;
	color: #666;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 2em;


}

ul{
	text-decoration: none;
	border: none;
	list-style: none;
}
