@charset "utf-8";




img{
	border-radius: 3px;
	margin-bottom: 20px;
}

#logo{
	width: 170px;
	margin-left: 15px;
	margin-top: 10px;
}

#mainContainer{
	margin: 0 auto;
	max-width: 320px;
}

#smallContainer{
	margin: 0 auto;
	max-width: 280px;
}

