	#mainHeader{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 20px;
		padding-top: 20px;
		background-color: #F2F2F2;
	}

 	#mainHeader{ 
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
	 }

	#mainHeader button{
		background: url(../images/menu.svg)center no-repeat;
		width: 30px;
		height: 30px;
		border: 0px;
		margin-right: 30px;
		transition: all .3s linear;
		outline: none;
	}

	#mainHeader button.expanded{
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		outline: none;
	}

	// #burgerMenu{
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: space-between;
	// 	padding-bottom: 20px;
	// 	padding-top: 20px;
	// 	background-color: #F2F2F2;
	// }



	#mainNav a {
	/* display: inline-block; */
	text-decoration:none
	}

	#mainNav a:after {
		color: #d8ae58;
		content: "";
		display: block;
		width: 0;
		border-bottom: 2px solid;
		margin: 0 auto;
		transition:all 0.3s linear 0s;
	}

	#mainNav a:hover:after {
		width: 35%;
	}

	#burgerCon{
		display: none;
		outline: none;
	}

	#burgerCon.slideToggle{
		display: block;
		margin-bottom: 10px;
		outline: none;
	}

	